.ReviewCard {
    display: flex;
    background-color: rgb(133, 84, 41);
    width: 50%;
    height: 200px;
    place-content: center;
    padding: 25px;
    border-radius: 40px;
    margin-top: 30px;
    border: solid black;
    color: aliceblue;
}

.ReviewCard img {
    position: relative;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 50%;
    margin-right: 20px;
    top: 30px;
}

.ReviewCard h2 {
    font-size: 30px;
    margin-bottom: 5px;
}

.ReviewCard p {
    max-width: 80%px;
    font-size: 20px;
    margin-top: 0px;
}