.Card {
    border: solid white;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    display: flex;
    place-content: center;
    color: white;
    /* margin-bottom: 10px; */
    scale: 0.7;
    cursor: pointer;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    font-size: 20px;
}

.Card:hover {
    transform: translateY(-10px);
    box-shadow: 7px 7px 7px 7px black;
    transition-duration: 0.5s;
}

.Card h1 {
    padding: 20px;
}