.Gallery {}


.Gallery h1 {
    margin-left: 15%;
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 0px;

}

.Gallery img {
    height: 400px;
}

.GalleryContainer {
    width: 900px;
    height: 500px;
    margin: 0 auto;
}