.SignUp {
    color: aliceblue;
    margin-left: 15%;
    font-size: 20px;
    max-width: 1500px;
}

.SignUpForms {
    display: flex;
    justify-content: space-around;
}

.SignUp h2 {
    font-size: 30px !important;
}

.SignUp input,
.SignUp textarea {
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: rgb(53, 34, 17);
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 20px;
}

.SignUp input:focus,
.SignUp textarea:focus {
    background-color: rgb(133, 84, 41);
}

.SignUpTextbox {
    height: 60%;
    vertical-align: top;
}