.Introduction {
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 49, 49);
    text-align: justify;
    color: aliceblue;
    padding: 10px;
}

.IntroductionSub {
    margin-left: 15%;
    margin-right: 15%;
    /* max-width: 1500px; */
    text-align: justify;
}

.IntroductionExpand {
    display: flex;

}

.Introduction img {
    margin-left: 50px;
    padding: 10px;
    height: 350px;
}

.IntroductionExpand {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
}

.IntroductionExpand.show {
    max-height: 1000px;
    transition: max-height 1s ease-in;
}