.Specialties {
    margin-left: 10%;
    display: flex;
}

.SpecialtiesDescription {
    max-width: 40%;
    width: 40%;
    color: aliceblue;
    font-size: 30px;
    text-align: justify;
    padding: 40px;
}

.Experts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 10%;
}

.ExpertsBtn {
    margin-left: 15%;
    margin-top: 40px;
}